/*Importar los estilos de letra Open-Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*Importar los estilos de section menu*/
@import url('menu.css');
/*Importar los estilos del section banner*/
@import url('banner.css');
/*Importar los estilos del blog*/
@import url('blog.css');
/*Importar los estilos de info*/
@import url('info.css');
*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body
{
	font-family: 'Open Sans', sans-serif;
}

header
{
	width:100%;
	height:50px;
	background:#333; /*Color gris Oscuro*/
	color:#fff;
	
	/*Hacer que el menú se quede pegado, aunque baje, que se siga mostrando.*/
	
	position:fixed;
	top:0;
	left:0;
	z-index:100; 
	
	/*Z-index de 100 para que esté siempre por delante de los demás elementos*/
	
}

.contenedor
{
	width:98%;
	margin:auto;
}

h1
{
	float:left;
}

header .contenedor
{
	/*Hacer que el contenedor ocupe todo el header*/
	display:table;
}

section
{
	width:100%;
	margin-bottom:25px;
}

#bienvenidos
{
	text-align:center;
}

footer
{
	margin-top:3%;
}


footer .contenedor
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.copy
{
	font-size:20px;
	
}

.redes-sociales
{
	width:100%;
	text-align:center;
	font-size:28px;
}

.redes-sociales a
{
	color:#333;
	text-decoration:none;
}

@media (min-width:768px)
{
	.redes-sociales
	{
		width:auto;
	}
	
	footer .contenedor
	{
		justify-content:space-between;
	}
	
}

@media (min-width:1024px)
{
	.contenedor
	{
		width:1000px;
	}
}
